*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	outline: 0;
	padding: 0;
	color: inherit;
	font: inherit;
}

html {
	height: 100%;
	width: 100%;

	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 13px;

	-webkit-user-select: none; user-select: none;
	-webkit-user-drag: none;
	cursor: default;
}

body {
	height: 100%;
}

tl, ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

ul > li > a {
	display: block
}
